<a href="https://colab.research.google.com/github/smartinternz02/SI-GuidedProject-581557-1694628549/blob/main/Mohamed_Irfan_AI_ML_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **21BBT0325 Mohamed Irfan Abdul Khader VIT - Vellore**

## **AI ML Assignment 1**

### Task 1

In [ ]:
import pandas as pd
import numpy as np
data = np.random.randn(4, 4)

# creating dataframe
df = pd.DataFrame(data)
df

          0         1         2         3
0 -0.219672  0.357113  1.477894 -0.518270
1 -0.808494 -0.501757  0.915402  0.328751
2 -0.529760  0.513267  0.097078  0.968645
3 -0.702053 -0.327662 -0.392108 -1.463515

### Task 2

In [ ]:
# renaming
df.columns = ['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4']
df

   Random value 1  Random value 2  Random value 3  Random value 4
0       -0.219672        0.357113        1.477894       -0.518270
1       -0.808494       -0.501757        0.915402        0.328751
2       -0.529760        0.513267        0.097078        0.968645
3       -0.702053       -0.327662       -0.392108       -1.463515

### Task 3

In [ ]:
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean        -0.564995        0.010240        0.524566       -0.171097
std          0.257272        0.499892        0.833592        1.055104
min         -0.808494       -0.501757       -0.392108       -1.463515
25%         -0.728663       -0.371186       -0.025219       -0.754581
50%         -0.615907        0.014725        0.506240       -0.094760
75%         -0.452238        0.396151        1.056025        0.488725
max         -0.219672        0.513267        1.477894        0.968645

### Task 4

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Random value 1  4 non-null      float64
 1   Random value 2  4 non-null      float64
 2   Random value 3  4 non-null      float64
 3   Random value 4  4 non-null      float64
dtypes: float64(4)
memory usage: 256.0 bytes

In [ ]:
# null values
df.isnull().sum()

Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

In [ ]:
# datatypes
df.dtypes

Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

### Task 5

In [ ]:
# location method
df.loc[:, ['Random value 2', 'Random value 3']]

   Random value 2  Random value 3
0        0.357113        1.477894
1       -0.501757        0.915402
2        0.513267        0.097078
3       -0.327662       -0.392108

In [ ]:
# Index location method
df.iloc[:, [1, 2]]

   Random value 2  Random value 3
0        0.357113        1.477894
1       -0.501757        0.915402
2        0.513267        0.097078
3       -0.327662       -0.392108

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Random value 1  4 non-null      float64
 1   Random value 2  4 non-null      float64
 2   Random value 3  4 non-null      float64
 3   Random value 4  4 non-null      float64
dtypes: float64(4)
memory usage: 256.0 bytes